# Include the README
include *.rst

# Include the license file
include LICENSE

# Include scripts
recursive-include imagic/scripts *

# Include the changelog
include CHANGES.txt

# Include conf file
include imagic/protocols.conf
